/*  your css code here. If applicable */
body{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}
.container{
	display:flex;
	margin-bottom:30px;
	gap:30px;
}
.circle{
	 width: 40px;
      height: 40px;
      background-color: lightgray;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
}
button{
	  margin-top: 20px;
	  margin-inline:10px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
	background:lightblue;
	border:none;
	
}
button:disabled{
	opacity:0.7;
	cursor:pointer;
}
.active{
	background:lightskyblue;
	color:white;
}